.presentation {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200vh;
    height: auto;
    gap: 9px;
    align-self: center;
}

.presentation span {
    font-family: Manrope-Regular;
    font-weight: 500;
    font-style: normal;
}

.foo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    bottom: 8vh;
}

.techStack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 90%;
    max-width: 600px;
    gap: 3vh;
}

.profileSectionContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 90%;
    max-width: 600px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 20px;
}

.presentationCard {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 95%;
    height: 32vh;
    text-align: center;
    gap: 20px;
}

.presentationInfo {
    display: flex;
    flex-direction: column;
    align-content: baseline;
    top: 0;
    left: 0;
    width: 45vh;
    height: 35vh;
    text-align: left;
}

.profilePhoto {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 30vh;
    height: 30vh;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0px 0px 3px #171515;
}

.description {
    text-align: justify;
    margin-top: 5vh;
    width: 100%;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 25px;
}

.social a {
    transition: transform 0.3s ease;
}

.social a:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .presentation {
        align-self: center;
        width: 40vh;
        margin-top: 2vh;
    }

    .profileSectionContainer {
        align-items: center;
    }
    
    .presentationCard {
        flex-direction: column;
        width: 95%;
        height: auto;
    }

    .presentationInfo {
        height: 25svh;
        text-align: center;
    }

    .profilePhoto{
        height: 20vh;
        width: 20vh;
    }

    .foo {
        bottom: 0;
        margin-top: 7vh;
    }

    .techStack {
        max-width: 40vh;
    }
}