@media screen and (max-width: 768px) {
    .title {
        font-size: 7vw;
        padding: 5vw;
        margin-top: 15vw;
        margin-left: 60vw;
    }
    
    .profile {
        margin-top: 10vw;
        margin-right: 60vw;
    }

    .devicons {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10vw;
        margin-top: 5vw;
        margin-left: -70vw;
        gap: 5vw;
    }
    
    .sumary {
        text-align: left;
        margin-top: -50vw;
        margin-bottom: 15vw;
        margin-left: 90vw;
        max-width: 70vw;
        font-size: 3vw;
    }
  
    .myApps {
        font-size: 3vw;
        margin-top: 5vw;
        margin-left: 5vw;
    }

    .calendly-inline-widget {
        margin-left: 60vw;
        min-width:5vw;
        max-width: 100vw;
        height:160vw;
    }
  }