

body {
    background-color: #f2f2f2;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos{
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
    max-width: 1100px;
}
.logos::before,
.logos::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos::before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #f2f2f2);
}

.logos::after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #f2f2f2);
}

.logos-slide{ 
    display: inline-block;
    animation: 35s slide infinite linear;
}
.logos-slide img {
    max-height: 100%;
    border-radius: 20px;
    height: 70px;
    margin: 0 40px;
}
