body {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 90px;
  padding-bottom: 10px;
  gap: 20px;
  margin: 0;
  background-color: #eff1f6;
  font-family: Manrope-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 12px;
  border: none;
  padding: 2px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background: none;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.2);
}

.icon-context {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 5;
  font-size: 20px;
  text-align: left;
}

footer {
  padding: 5vw 3vw;
}

a {
  color: #04b2e2;
}

@font-face {
  font-family: Manrope-Bold;
  src: url(./assets/Manrope/static/Manrope-Bold.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Manrope-Regular;
  src: url(./assets/Manrope/static/Manrope-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Manrope-Light;
  src: url(./assets/Manrope/static/Manrope-Light.ttf);
  font-weight: 200;
  font-style: italic;
}

h1,
h2,
h3,
h4,
.titleF {
  font-family: Manrope-Bold;
  font-weight: 900;
  font-style: normal;
}

p,
span,
.sentenceF {
  font-family: Manrope-Regular;
  font-weight: 500;
  font-style: normal;
}

.descriptionF {
  font-family: Manrope-Light;
  font-weight: 200;
  font-style: italic;
}